<main>
  <main>
  <div>
    <div class="card"> Button
      <div class="card-body">
        <button class="btn btn-primary">Button</button>
        <button class="btn btn-secondary">Button</button>
        <button class="btn btn-success">Button</button>
        <button class="btn btn-danger">Button</button>
        <button class="btn btn-warning">Button</button>
        <button class="btn btn-info">Button</button>
        <button class="btn btn-light">Button</button>
        <button class="btn btn-dark">Button</button>
        <button class="btn btn-link">Button</button>
        <a href="#" class="btn btn-primary">Button  </a>  
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <button class="btn btn-outline-primary btn-lg">Button outline</button>
        <button class="btn btn-outline-secondary btn-sm">Button outline</button>
        <button class="btn btn-outline-success">Button outline</button>
        <button class="btn btn-outline-danger">Button outline</button>
        <button class="btn btn-outline-warning">Button outline</button>
        <button class="btn btn-outline-info">Button outline</button>
        <button class="btn btn-outline-light">Button outline</button>
        <button class="btn btn-outline-dark">Button outline</button>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <p class="text-primary">Text for example</p>
        <p class="text-secondary">Text for example</p>
        <p class="text-success">Text for example</p>
        <p class="text-danger">Text for example</p>
        <p class="text-warning">Text for example</p>
        <p class="text-info">Text for example</p>
        <p class="text-light">Text for example</p>
        <p class="text-dark">Text for example</p>
      </div>
   </div>
    <br>
  <div class="card">
    <div class="card-body">
      <div class="display-1">First</div>
      <div class="display-2">Second</div>
      <div class="display-3">Third</div>
      <div class="display-4">Fourth</div>
      <div class="display-5">Fiveth</div>
      <div class="display-6">Sixth</div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">First</h1>
      <h2 class="text-end text-uppercase" >Second</h2>
      <h3 class="text-capitalize">Third case text</h3>
      <h4 class="text-lowercase ">Fourth</h4>
      <h5>Fiveth</h5>
      <h6>Sixth</h6>
      <div class="text-end">
          Add <span class="display-3 text-muted"> text
      </div>
    </div>
  </div>
  
</main>