<div class='ms-3'>
  <h2>List of pages</h2>
  <p class='mb-5'>A list of pages that I created during my
    HTML studies</p>
  {{! ______________________________________________________________________ }}
  <div class='col-2'>
    {{#each page}}
      <div class='row'>
        <a
          target='_blank'
          class='btn btn-primary btn-sm btn-block mb-2 text-capitalize'
          href='/{{this}}'
        >{{this}}</a>
      </div>
    {{/each}}
  </div>
</div>