 {{#with newsBlock}}
  {{>shoppost}}
  {{/with}}
  <hr class='my-5' />
  {{! goodsBlock___________________________________________________________ }}
  {{#with goodsBlock}}
    <div class='col-12 mb-5'>
      <div class='nav nav-tabs'>
        {{#each tabs}}
          <div class='nav-item'>
            <h5 class='nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}'>{{text}}</h5>
          </div>
        {{/each}}
      </div>
    </div>
    {{#each cards}}
    <div class='col-4 mb-4'>
      <div class='card h-100 g-4'>
        <img class='card-img-top' src='{{image}}' alt='' />
        <div class='card-body'>
          <h5>{{title}}
            {{#if isHot}}
              <span
                class='badge text-bg-warning rounded-pill'
              >HOT!</span>
            {{/if}}
            {{#if idNew}}
              <span
                class='badge text-bg-primary rounded-pill'
              >New</span>
            {{/if}}
          </h5>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  {{/with}}
{{>shopunlock}}
{{>shopaction}}