:root {
  --size-1: 16px;
  --size-2: 18px;
  --size-3: 22px;
  --size-4: 26px;
  --size-5: 30px;
  --size-6: 34px;
  --size-7: 38px;
  --size-8: 42px;
  --size-9: 44px;

  --color-white-light: rgb(172, 172, 172);
  --color-white: rgb(242, 242, 242);
  --color-dark: rgb(24, 24, 24);
  --color-dark-light: rgba(131, 131, 131, 0.822);
  --color-divider: rgba(182, 182, 182, 0.822);

  --space-1: 12px;
  --space-2: 16px;
  --space-3: 20px;
  --space-4: 22px;
  --space-5: 28px;
  --space-6: 32px;
  --space-7: 36px;
  --space-8: 40px;
  --space-9: 60px;
}
hr {
  border: 0;
  border-top: 2px solid var(--color-divider);
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}
.page {
  padding: 30px;
  display: grid;
  max-width: 1200px;
  margin: auto;
}
.header {
  padding: var(--space-8) var(--space-9);
  background-color: #303846;
  border-radius: 4px;
}
.header_title {
  font-size: var(--size-8);
  color: rgb(230, 230, 230);
}
.header_name {
  font-size: var(--size-5);
  color: rgb(190, 190, 190);
}
.content {
  padding: var(--space-1);
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.aside {
  height: 100%;
  padding: 40px 20px 40px 0px;
  border-right: 1px solid var(--color-divider);
}
main {
  padding: 40px;
}
.header_info {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header_info_item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_info_text {
  font-size: var(--size-2);
  color: var(--color-white-light);
}
.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.block {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.block_list {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
.block_title {
  font-size: var(--size-4);
  font-weight: 600;
  color: #606468;
}

.block_content {
  display: flex;
  flex-direction: column;
}
.block_info {
  font-size: var(--size-1);
  color: var(--color-dark-light);
}
.block_name {
  font-size: var(--size-2);
  color: #606468;
  font-weight: 500;
}
.block_text {
  font-size: var(--size-1);
}
