<div class='col-12'>
  <nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
      {{#each breadcrumb}}
        <li class='breadcrumb-item'>
          {{#if url}}
            <a
              class='text-decoration-none'
              target='_blank'
              href='{{url}}'
              class=''
            >{{name}}</a>
          {{else}}
            {{name}}
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </nav>
</div>