<div class='nav nav-tabs text-dark mb-4'>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/summary'
    >Summary</a>
  </div>
  <div class='nav-item'>
    <a class='nav-link text-dark' href='/skills'>Skills</a>
  </div>
  <div class='nav-item'>
    <a
      class='nav-link text-dark'
      href='/education'
    >Education</a>
  </div>
  <div class='nav-item'>
    <a class='nav-link text-dark' href='/work'>Work</a>
  </div>
</div>