{{! navigation__________________________________________________________________________________ }}
{{#with navigation}}
  <div class='col-8'>
    <h1>{{Logo}}</h1>
  </div>
  <div class='col-4'>
    <div class='nav'>
      {{#each links}}
        <div class='nav-item'>
          <a
            href='{{href}}'
            class='nav-link'
            target='_blank'
          >{{text}}</a>
        </div>
      {{/each}}
      <div class='nav-item'>
        <a href='#' class='nav-link disabled'>Disabled</a>
      </div>
    </div>
  </div>
{{/with}}
<hr class='my-2 mb-5' />