{{! Person page }}
<html>
  <head>
    <title>
      Person page
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon-16x16.png'
    />
  </head>
  {{! ---------------------------------------------------------------------------------------------- }}
  <body>
    {{!-- {{>nav}} --}}
    {{{body}}}
  </body>
</html>